/* global & resets */

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "Poppins";
    color: var(--charcoal);
    border: none;
}

:root {

    /* colors */
    --darkblue: rgb(27, 49, 87);
    --navy: rgb(22, 33, 51);
    --gold: rgb(187, 135, 54);
    --lightgrey: rgb(145, 143, 143);
    --charcoal: rgb(43, 45, 51);
    --darkblue-light: rgb(45, 71, 119);
    --darkblue-lighter: rgb(68, 99, 156);
    --navy-light: rgb(38, 53, 80);
    --navy-lighter: rgb(63, 80, 111);
    --navy-lighter-bright: rgb(101, 130, 180);
    --gold-dark: rgb(153, 108, 38);
    --gold-light: rgb(212, 168, 99);
    --gold-lighter: rgb(239, 212, 152);
    --lightgrey-light: rgb(179, 177, 177);
    --lightgrey-lighter: rgb(214, 212, 212);
    --charcoal-light: rgb(65, 68, 75);
    --charcoal-lighter: rgb(90, 93, 101);
}


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.app-body {
    background-color: var(--navy);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-card-main {
    background-color: #D9D9D9;
    width: 66.25rem;
    height: 38rem;
    display: flex;
    border-radius: 20px;
    padding: 4rem;
    position: relative;
}

.startmenu-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

#tmr-logo {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.left-content {
    width: 50%;
    height: 100%;
    padding: 0.5rem;
}

.right-content {
    width: 50%;
    height: 100%;
    padding: 0.5rem;
    position: relative;
}

.action-button {
    position: absolute;
    bottom: -2rem;
    left: 0rem;
    right: 0rem;
    margin: auto;
}

/* Start Menu */

.startmenu-info, .startmenu-header {
    width: 50%;
    height: 100%;
}

.startmenu-header h1, .quiz-question {
    font-size: 3rem;
    text-align: start;
    margin-top: 6rem;
}

.startmenu-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.startmenu-info p {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.startmenu-info p:last-of-type {
  margin-top: 4rem;
  margin-bottom: -1.5rem;
}

.startmenu-info p:last-of-type {
    margin-bottom: 4rem;
}

.action-button {
    background-color: var(--gold);
    width: 22rem;
    height: 4rem;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    color: white;
    box-shadow: var(--charcoal-lighter) 2px 2px;
}

.action-button:hover {
    background-color: var(--gold-light);
}

.action-button:active {
    transform: translate(2px, 2px);
    box-shadow: none;
}


/* Quiz Selection Menu */

#quiz-type-selection {
    display: flex;
    justify-content: space-evenly;
}

.half-width-button {
    width: 13rem;
    height: 3rem;
    border-radius: 10px;
    background-color: var(--charcoal);
    font-size: 1rem;
    color: white;
}

.half-width-button:hover {
  background-color: var(--navy-lighter-bright);
}

.half-width-button.active {
  background-color: var(--navy-lighter-bright);
  box-shadow: 0px 0px 2px black;
}

.selection-buttons p {
    margin-top: 1rem;
    font-style: italic;
}

.fullsystem-photo {
  width: 75%;
  margin-top: 2rem;
}

.component-button-icon {
  width: 2rem;
  height: 2rem;
}

.component-button {
  width: 75%;
  min-height: 3rem;
  display: flex;
  background-color: white;
  margin-bottom: 1.5rem;
  border-radius: 0.7rem;
  padding-left: 1rem;
  align-items: center;
}

.component-button:last-of-type {
  margin-bottom: 0;
}

.component-button p {
  font-style: normal;
  margin-left: 1rem;
  margin-top: 0;
  font-size: 1.25rem;
}
.component-buttons-container {
  width: 100%;
  height: 16.7rem;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  margin-top: 1rem;
  align-items: center;
  padding: 0.3rem 0;
}

.component-button:hover, .answer-button:hover {
  box-shadow: 0px 0px 5px 1px black;
}

.component-button.active, .answer-button.active {
  box-shadow: 0px 0px 5px 1px black;
}

/* Quizzes */

#no-answer-message {
  position: absolute;
  bottom: 2.75rem;
  left: 0;
  right: 0;
  margin: auto;
  font-style: italic;
}

.quiz-question-container {
  max-height: 90%;
  padding-right: 1rem;
}

.quiz-question {
  font-size: 2rem;
}

.quiz-answer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.answer-button {
  min-height: 3.5rem;
  border-radius: 0.7rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

/* Subscription Page */

.email-subscription-image {
  display: flex;
  align-items: center;
}

.email-subscription-image img {
 width: 90%;
 margin-top: 2rem;
}

.email-subscription-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email-subscription-copy p:first-of-type {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

form {
  width: 100%;
}

input[type="email"] {
  all: unset;
  background-color: white;
  margin: 2.5rem 0;
  width: 80%;
  height: 2rem;
  padding: 0.5rem;
}

.subscribe-button {
  bottom: 2rem;
}

.no-subscribe-button {
  position: absolute;
  bottom: -0.5rem;
  background: transparent;
  font-style: italic;
  font-size: 1rem;
}

.no-subscribe-button:hover {
  color: var(--gold-dark);
}